<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__body">
        <button class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <a href="./index.html" class="custom-logo-link">
          <img src="./img/icons/logo.svg" alt="" class="logo-def" />
          <img src="./img/icons/logo-s.svg" alt="" class="logo-scroll" />
        </a>
        <a href="#" class="header__btn-mob">СКОРАЯ ПОМОЩЬ</a>

        <div class="header__nav">
          <load src="partials/header/parts/nav.html" />
        </div>

        <ul class="header__soc">
          <li>
            <a href="#"><img src="./img/icons/vib.svg" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="./img/icons/teleg.svg" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <load src="partials/header/parts/mob.html" />
</header>
