<!-- <div class="callback is-visible"> -->
<div class="callback modal" id="callbackCall">
  <div class="modal__container">
    <div class="modal__body">
      <button type="button" class="modal__close close-modal"></button>

      <div class="callback__wrapp">
        <div class="callback__info">
          <h3 class="callback__title">Передзвоніть мені</h3>
          <div class="callback__text">
            <p>
              Мы свяжемся с Вами в ближайшее время и поможем решить проблему
              максимально оперативно.
            </p>
          </div>
        </div>

        <form class="callback__form">
          <!-- <label class="callback__label is-error"> -->
          <label class="callback__label">
            <input type="tel" name="callbackTel" placeholder="Номер телефона" />
            <span class="require"></span>
          </label>
          <!-- <button type="submit" class="btn-def bp shake"> -->
          <button type="submit" class="btn-def bp">Передзвоніть мені</button>
        </form>
      </div>
    </div>
  </div>
</div>
