<section class="cities">
  <div class="container">
    <div class="cities__body">
      <h2 class="title-first twc">
        Мы делаем дипломные работы для всех крупных городов Украины
        <span class="no-select">
          <img src="./img/icons/cities_flag.png" alt="" />
        </span>
      </h2>
      <ul class="cities__list-decor">
        <li class="cities__item-decor">
          <span class="no-select">
            <img src="./img/icons/cities_1.png" alt="" />
          </span>
          <p>Днепр</p>
        </li>
        <li class="cities__item-decor">
          <span class="no-select">
            <img src="./img/icons/cities_2.png" alt="" />
          </span>
          <p>Харьков</p>
        </li>
        <li class="cities__item-decor">
          <span class="no-select">
            <img src="./img/icons/cities_3.png" alt="" />
          </span>
          <p>Киев</p>
        </li>
        <li class="cities__item-decor">
          <span class="no-select">
            <img src="./img/icons/cities_4.png" alt="" />
          </span>
          <p>Запорожье</p>
        </li>
        <li class="cities__item-decor">
          <span class="no-select">
            <img src="./img/icons/cities_5.png" alt="" />
          </span>
          <p>Одесса</p>
        </li>
        <li class="cities__item-decor">
          <span class="no-select">
            <img src="./img/icons/cities_6.png" alt="" />
          </span>
          <p>Львов</p>
        </li>
      </ul>
      <ul class="cities__list">
        <li>Кривой Рог</li>
        <li>Николаев</li>
        <li>Винница</li>
        <li>Херсон</li>
        <li>Полтава</li>
        <li>Чернигов</li>
        <li>Черкассы</li>
        <li>Житомир</li>
        <li>Сумы</li>
        <li>Хмельницкий</li>
        <li>Черновцы</li>
        <li>Ровно</li>
        <li>Кропивницкий</li>
        <li>Ивано-Франковск</li>
        <li>Кременчуг</li>
        <li>Тернополь</li>
        <li>Луцк</li>
        <li>Белая Церковь</li>
        <li>Ужгород</li>
        <li>Каменец-Подольский</li>
      </ul>

      <div class="cities__stars no-select">
        <img src="./img/decor/cities_stars.png" alt="" />
      </div>
    </div>
  </div>
</section>
