<section class="completed">
  <div class="container">
    <div class="completed__body">
      <h2 class="title-first">Последние выполненные работы</h2>
      <div class="completed__splide splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <ul class="completed__lead">
                <li>Курсовая работа</li>
                <li>Экономика</li>
              </ul>
              <h4 class="completed__name">
                “Анализ секторальной структуры украинской экономики: вызовы и
                перспективы развития”
              </h4>
              <div>
                <p class="completed__meta">
                  Выполнено: <span>3 марта 2024</span>
                </p>
                <p class="completed__price">Цена — 800 грн</p>
              </div>
            </li>

            <li class="splide__slide">
              <ul class="completed__lead">
                <li>Дипломная работа</li>
                <li>Математика</li>
              </ul>
              <h4 class="completed__name">“Применение теории оптимизации“</h4>
              <div>
                <p class="completed__meta">Выполнено: 1 марта 2024</p>
                <p class="completed__price">Цена — 8000 грн</p>
              </div>
            </li>

            <li class="splide__slide">
              <ul class="completed__lead">
                <li>Отчет по практике</li>
                <li>Уголовное право</li>
              </ul>
              <h4 class="completed__name">
                “Опыт применения уголовно-правовых норм и механизмов в работе
                правоохранительных органов”
              </h4>
              <div>
                <p class="completed__meta">Выполнено: 1 марта 2024</p>
                <p class="completed__price">Цена — 700 грн</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
