<section id="consult" class="consult">
  <div class="container">
    <div class="consult__body">
      <h2 class="title-first twc">Бесплатная консультация</h2>

      <div class="consult__wrapp">
        <h4 class="consult__subtitle">Заполните форму</h4>
        <form class="consult__form">
          <div class="consult__box">
            <label class="consult__label">
              <input type="text" name="consult-name" placeholder="Ваше имя" />
            </label>
            <label class="consult__label">
              <input
                type="tel"
                name="consult-tel"
                placeholder="Номер телефона"
              />
            </label>
          </div>
          <button type="submit" class="consult__btn btn-def">
            Консультация
          </button>
        </form>
      </div>

      <div class="consult__filter"></div>

      <div class="consult__vector no-select">
        <img src="./img/decor/consult_vector.png" alt="" />
      </div>

      <div class="consult__star no-select">
        <img src="./img/decor/consult_star.png" alt="" />
      </div>

      <div class="consult__girl no-select">
        <img src="./img/content/consult_1.png" alt="" />
      </div>
    </div>
  </div>
</section>
