<section class="discuss">
  <div class="container">
    <div class="discuss__body">
      <div class="discuss__content">
        <h3 class="title-second twc">
          Давайте обсудим написание Вашей работы!
        </h3>

        <form class="discuss__form-mob">
          <div class="discuss__form-box">
            <label>
              <input
                type="text"
                name="discuss-name"
                class="discuss__input"
                placeholder="Введите тему работы"
              />
            </label>
            <label>
              <input
                type="tel"
                name="discuss-tel"
                class="discuss__input"
                placeholder="Номер телефона"
              />
            </label>
          </div>
          <button type="submit" class="discuss__btn btn-def">
            Отправить запрос
          </button>
        </form>

        <div class="discuss__wrapp">
          <div class="discuss__img-wrapp no-select">
            <span><img src="./img/content/discuss_girl.png" alt="" /></span>

            <div class="discuss__vector">
              <img src="./img/decor/discuss_vector.png" alt="" />
            </div>
          </div>

          <div class="discuss__info">
            <h4>Наталья, менеджер</h4>
            <p>
              Отвечу на все Ваши вопросы, обсудим детали, выберем
              квалиицированного исполнителя, начнём уже сегодня
            </p>
          </div>
        </div>

        <div class="discuss__mess no-select">
          <img src="./img/content/discuss_mess.png" alt="" />
        </div>

        <div class="discuss__line no-select">
          <img src="./img/decor/discuss_line.png" alt="" />
        </div>
      </div>

      <form class="discuss__form">
        <div class="discuss__form-box">
          <label>
            <input
              type="text"
              class="discuss__input"
              placeholder="Введите тему работы"
            />
          </label>
          <label>
            <input
              type="tel"
              class="discuss__input"
              placeholder="Номер телефона"
            />
          </label>
        </div>
        <button type="submit" class="btn-def">Отправить запрос</button>
      </form>
    </div>
  </div>
</section>
