<section class="discuss">
  <div class="container">
    <div class="discuss__body">
      <div class="discuss__content">
        <h3 class="title-second">Давайте обсудим написание Вашей работы!</h3>

        <form class="discuss__form-mob">
          <label>
            <input
              type="text"
              class="discuss__input"
              placeholder="Введите тему работы"
            />
          </label>
          <label>
            <input
              type="text"
              class="discuss__input"
              placeholder="Номер телефона"
            />
          </label>
          <button type="submit" class="discuss__btn btn-def">
            Отправить запрос
          </button>
        </form>

        <div class="discuss__wrapp">
          <div class="discuss__img-wrapp">
            <img src="./img/content/discuss_girl.png" alt="" />

            <div class="discuss__vector">
              <img src="./img/decor/discuss_vector.png" alt="" />
            </div>
          </div>

          <div class="discuss__info">
            <h4>Наталья, менеджер</h4>
            <p>
              Отвечу на все Ваши вопросы, обсудим детали, выберем
              квалиицированного исполнителя, начнём уже сегодня
            </p>
          </div>
        </div>

        <div class="discuss__mess">
          <img src="./img/content/discuss_mess.png" alt="" />
        </div>

        <div class="discuss__line">
          <img src="./img/decor/discuss_line.png" alt="" />
        </div>
      </div>

      <form class="discuss__form">
        <label>
          <input
            type="text"
            class="discuss__input"
            placeholder="Введите тему работы"
          />
        </label>
        <label>
          <input
            type="text"
            class="discuss__input"
            placeholder="Номер телефона"
          />
        </label>
        <button type="submit" class="discuss__btn btn-def">
          Отправить запрос
        </button>
      </form>
    </div>
  </div>
</section>
