<section class="disciplin">
  <div class="container">
    <div class="disciplin__body">
      <div class="disciplin__info">
        <h3 class="title-second">
          Вы можете заказать работы по следующим дисциплинам:
        </h3>
      </div>

      <ul class="letter-list">
        <li>
          <button
            type="button"
            class="letter-btn selected-btn"
            data-id="letter1"
          >
            А
          </button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter2">Б</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter3">В</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter4">Г</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter5">Д</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter6">Ж</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter7">И</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter8">К</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter9">Л</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter10">М</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter11">Н</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter12">О</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter13">П</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter14">Р</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter15">С</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter16">Т</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter17">У</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter18">Ф</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter19">Х</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter20">Ц</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter21">Ч</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter22">Э</button>
        </li>
        <li>
          <button type="button" class="letter-btn" data-id="letter23">Ю</button>
        </li>
      </ul>

      <ul class="disciplin__list">
        <li class="disciplin__item is-transition selected-item" id="letter1">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter2">
          <h3>Б</h3>
          <ul>
            <li>базы данных</li>
            <li>банковское дело</li>
            <li>банкротство</li>
            <li>БЖД</li>
            <li>библиотечное дело (документоведение)</li>
            <li>бизнес-планирование</li>
            <li>биология</li>
            <li>бухгалтерский учет</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter3">
          <h3>В</h3>
          <ul>
            <li>возрастная психология</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter4">
          <h3>Г</h3>
          <ul>
            <li>геометрия</li>
            <li>гостиничное дело</li>
            <li>государственная служба</li>
            <li>государственное и муниципальное управление</li>
            <li>гражданская защита</li>
            <li>гражданское право</li>
            <li>графика</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter5">
          <h3>Д</h3>
          <ul>
            <li>детали машин</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter6">
          <h3>Ж</h3>
          <ul>
            <li>журналистика</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter7">
          <h3>И</h3>
          <ul>
            <li>инвестиции</li>
            <li>инженерная графика</li>
            <li>информатика</li>
            <li>история</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter8">
          <h3>К</h3>
          <ul>
            <li>конституционное право</li>
            <li>конфликтология</li>
            <li>культурология</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter9">
          <h3>Л</h3>
          <ul>
            <li>лингвистика</li>
            <li>литература</li>
            <li>логистика</li>
            <li>логопедия</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter10">
          <h3>М</h3>
          <ul>
            <li>макроэкономика</li>
            <li>маркетинг</li>
            <li>математика</li>
            <li>математическая статистика</li>
            <li>машиностроение</li>
            <li>международная экономика</li>
            <li>менеджмент</li>
            <li>метрология</li>
            <li>механика</li>
            <li>музыка</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter11">
          <h3>Н</h3>
          <ul>
            <li>налоги и налогообложение</li>
            <li>налоговая система</li>
            <li>налоговое право</li>
            <li>налогооблажени</li>
            <li>начертательная геометрия</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter12">
          <h3>О</h3>
          <ul>
            <li>охрана труда</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter13">
          <h3>П</h3>
          <ul>
            <li>педагогика</li>
            <li>планирование и прогнозирование</li>
            <li>политология</li>
            <li>право</li>
            <li>правовая культура</li>
            <li>психология</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter14">
          <h3>Р</h3>
          <ul>
            <li>развитие речи</li>
            <li>размещение производительных сил</li>
            <li>реклама</li>
            <li>религия</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter15">
          <h3>С</h3>
          <ul>
            <li>социальная работа</li>
            <li>социальное право</li>
            <li>социология</li>
            <li>стандартизация</li>
            <li>статистика</li>
            <li>стратегический менеджмент</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter16">
          <h3>Т</h3>
          <ul>
            <li>таможенное дело</li>
            <li>телевидение</li>
            <li>теоретическая механика</li>
            <li>теория государства и права</li>
            <li>технологии</li>
            <li>товароведение</li>
            <li>трудовое право</li>
            <li>туризм</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter17">
          <h3>У</h3>
          <ul>
            <li>уголовное право</li>
            <li>управление конфликтами</li>
            <li>управление персоналом</li>
            <li>управление проектами</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter18">
          <h3>Ф</h3>
          <ul>
            <li>физика</li>
            <li>физическая культура</li>
            <li>филология</li>
            <li>философия</li>
            <li>финансовый анализ</li>
            <li>финансовый менеджмент</li>
            <li>финансы</li>
            <li>финансы и кредит</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter19">
          <h3>Х</h3>
          <ul>
            <li>химия</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter20">
          <h3>Ц</h3>
          <ul>
            <li>ценообразование</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter21">
          <h3>Ч</h3>
          <ul>
            <li>черчение</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter22">
          <h3>Э</h3>
          <ul>
            <li>экология</li>
            <li>эконометрика</li>
            <li>экономика</li>
            <li>экономика организации</li>
            <li>экономика предприятия</li>
            <li>экономико-математическое моделирование</li>
            <li>экономический анализ</li>
            <li>эстетика</li>
            <li>этика</li>
          </ul>
        </li>
        <li class="disciplin__item" id="letter23">
          <h3>Ю</h3>
          <ul>
            <li>юриспруденция</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
