<section class="disciplin">
  <div class="container">
    <div class="disciplin__body">
      <h3 class="title-second">
        Вы можете заказать работы по следующим дисциплинам:
      </h3>

      <ul class="disciplin__list">
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>Б</h3>
          <ul>
            <li>базы данных</li>
            <li>банковское дело</li>
            <li>банкротство</li>
            <li>БЖД</li>
            <li>библиотечное дело (документоведение)</li>
            <li>бизнес-планирование</li>
            <li>биология</li>
            <li>бухгалтерский учет</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>В</h3>
          <ul>
            <li>возрастная психология</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>Г</h3>
          <ul>
            <li>геометрия</li>
            <li>гостиничное дело</li>
            <li>государственная служба</li>
            <li>государственное и муниципальное управление</li>
            <li>гражданская защита</li>
            <li>гражданское право</li>
            <li>графика</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>Д</h3>
          <ul>
            <li>детали машин</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>Ж</h3>
          <ul>
            <li>журналистика</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>И</h3>
          <ul>
            <li>инвестиции</li>
            <li>инженерная графика</li>
            <li>информатика</li>
            <li>история</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>К</h3>
          <ul>
            <li>конституционное право</li>
            <li>конфликтология</li>
            <li>культурология</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>Л</h3>
          <ul>
            <li>лингвистика</li>
            <li>литература</li>
            <li>логистика</li>
            <li>логопедия</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
        <li class="disciplin__item">
          <h3>А</h3>
          <ul>
            <li>административное право</li>
            <li>английский язык</li>
            <li>антикризисное управление</li>
            <li>археология</li>
            <li>архивоведение</li>
            <li>аудит</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
