<section class="form">
  <div class="container">
    <div class="form__body">
      <h3 class="form__title">Заполните форму и узнайте цену прямо сейчас!</h3>
      <form class="form__form">
        <div class="form__form-box">
          <label>
            <input type="text" placeholder="Введите тему работы" />
          </label>
          <label>
            <input type="tel" placeholder="Номер телефона" />
          </label>
        </div>
        <button type="submit" class="btn-def bp">Узнать цену</button>
      </form>
    </div>
  </div>
</section>
