<section class="notchat">
  <div class="container">
    <div class="notchat__body">
      <div class="notchat__content">
        <h3 class="title-second title-span">
          Вашу учебную работу напишет <span>опытный</span> преподаватель а не
          Chat GPT
        </h3>

        <div class="notchat__img-wrapp notchat__elemob no-select">
          <img src="./img/content/notchat_1.png" alt="" />
        </div>

        <ul class="notchat__list">
          <li>
            <div>
              <h5>Экспертные знания</h5>
              <p>
                Наши преподаватели обладают фундаментальными знаниями в своих
                областях, что гарантирует высокое качество выполняемых работ.
              </p>
            </div>
          </li>
          <li>
            <div>
              <h5>Индивидуальный подход</h5>
              <p>
                Мы заботимся о качестве каждой работы, обеспечиваем персональный
                подход к написанию и сдачи студенческих работ.
              </p>
            </div>
          </li>
          <li>
            <div>
              <h5>Специализация</h5>
              <p>
                Работы создаются исключительно опытными преподавателями высших
                учебных заведений, специализирующихся в соответствующей области
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="notchat__img-wrapp no-select">
        <img src="./img/content/notchat_1.png" alt="" />
      </div>

      <div class="notchat__desc">
        <p>
          Вы можете быть уверены в том, что ваша работа будет написана
          человеком, а не алгоритмом. Только опытный преподаватель ВУЗа знает
          все тонкости и обеспечивает высокое качество с соблюдением всех
          стандартов.
        </p>
      </div>
    </div>
  </div>
</section>
