<section class="question">
  <div class="container">
    <div class="question__body">
      <h2 class="title-first">
        Часто задаваемые вопросы
        <span class="no-select">
          <img src="./img/decor/question.png" alt="" />
        </span>
      </h2>

      <ul class="question__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="question__box">
              <h5>
                Если мне нужна консультация по презентации и речи для
                выступления — вы сможете помочь?
              </h5>

              <span></span>
            </div>
            <div class="question__panel">
              <p class="ac-panel">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam
                vitae, doloremque corporis nihil temporibus sunt ea autem
                aliquam libero in provident placeat repudiandae voluptas labore
                repellendus dicta recusandae rem omnis?
              </p>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="question__box">
              <h5>
                Если мне нужно согласовывать с преподавателем каждый этап
                дипломной работы — придется заказывать консультации по каждой
                главе отдельно?
              </h5>
              <span></span>
            </div>
            <div class="question__panel">
              <p class="ac-panel">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam
                vitae, doloremque corporis nihil temporibus sunt ea autem
                aliquam libero in provident placeat repudiandae voluptas labore
                repellendus dicta recusandae rem omnis?
              </p>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="question__box">
              <h5>
                Если консультация меня не устроит, смогу ли я вернуть деньги?
              </h5>
              <span></span>
            </div>
            <div class="question__panel">
              <p class="ac-panel">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam
                vitae, doloremque corporis nihil temporibus sunt ea autem
                aliquam libero in provident placeat repudiandae voluptas labore
                repellendus dicta recusandae rem omnis?
              </p>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="question__box">
              <h5>Кто будет проводить консультацию по диплому в 2024?</h5>
              <span></span>
            </div>
            <div class="question__panel">
              <p class="ac-panel">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam
                vitae, doloremque corporis nihil temporibus sunt ea autem
                aliquam libero in provident placeat repudiandae voluptas labore
                repellendus dicta recusandae rem omnis?
              </p>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="question__box">
              <h5>Могу ли я оплатить консультацию по диплому частями?</h5>
              <span></span>
            </div>
            <div class="question__panel">
              <p class="ac-panel">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam
                vitae, doloremque corporis nihil temporibus sunt ea autem
                aliquam libero in provident placeat repudiandae voluptas labore
                repellendus dicta recusandae rem omnis?
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
