<section class="reviews">
  <div class="container">
    <div class="reviews__body">
      <div class="reviews__content">
        <h2 class="title-first">Отзывы о нашей работе</h2>
        <div class="reviews__sub-title">
          <span>Общий рейтинг</span>
          <ul class="reviews__rating no-select">
            <li>
              <img src="./img/icons/reviews_stars.svg" alt="" />
            </li>
            <li>
              <img src="./img/icons/reviews_stars.svg" alt="" />
            </li>
            <li>
              <img src="./img/icons/reviews_stars.svg" alt="" />
            </li>
            <li>
              <img src="./img/icons/reviews_stars.svg" alt="" />
            </li>
            <li>
              <img src="./img/icons/reviews_stars.svg" alt="" />
            </li>
          </ul>
          <span>4.82 из 5 (55 голосов)</span>
        </div>

        <ul class="reviews__list">
          <li class="reviews__item">
            <h4 class="reviews__name">Дмитрий</h4>

            <p class="reviews__date">03.01.2024</p>

            <ul class="reviews__rating no-select">
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
            </ul>

            <p class="reviews__mess">
              Заказ выполнили на 8 из 10, работа успешно прошла нормоконтроль в
              редакции. Расписали все хорошо – и теорию, и методологию
              исследования, и выводы подвели нормальные. Даже я сам читал –
              зачитался аж.
            </p>

            <p class="reviews__headline">Дипломная работа</p>
          </li>

          <li class="reviews__item">
            <h4 class="reviews__name">Volga Ivanovna</h4>

            <p class="reviews__date">03.01.2024</p>

            <ul class="reviews__rating no-select">
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
            </ul>

            <p class="reviews__mess">
              Докторская по педагогике требовалась для дальнейшего продвижения
              по карьере. Предоставила ребятам тему работы, сама собрала
              подходящие литературные источники и отдала для выполнения. Видно,
              что ребята...
            </p>

            <p class="reviews__headline">Курсовая работа</p>
          </li>

          <li class="reviews__item">
            <h4 class="reviews__name">Ангелина</h4>

            <p class="reviews__date">03.01.2024</p>

            <ul class="reviews__rating no-select">
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
              <li>
                <img src="./img/icons/reviews_stars.svg" alt="" />
              </li>
            </ul>

            <p class="reviews__mess">
              Презентацию сделали классную, все визуально понятно и доступно.
              Требовалась для защиты диссертации. Сама бы точно так не сделала.
              Форм оплаты масса, можно выбрать ту, котораянаиболее удобная.
              Договор...
            </p>

            <p class="reviews__headline">Контрольная работа</p>
          </li>
        </ul>

        <button type="button" class="reviews__btn">Смотреть все отзывы</button>
      </div>

      <div class="reviews__like no-select">
        <img src="./img/decor/reviews_like.png" alt="" />
      </div>

      <div class="reviews__star no-select">
        <img src="./img/decor/reviews_star.png" alt="" />
      </div>

      <div class="reviews__vector no-select">
        <img src="./img/decor/reviews_vector.png" alt="" />
      </div>
    </div>
  </div>
</section>
