<section class="seo">
  <div class="container">
    <div class="seo__body">
      <h2 class="title-first">SEO Заголовок h2</h2>

      <h3>SEO текст h3</h3>
      <p>
        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt,
        explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione
        voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum,
        quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat
        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
        Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse,
        quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo
        voluptas nulla pariatur?
      </p>

      <h3>SEO текст h3</h3>
      <p>
        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt,
        explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione
        voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum,
        quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat
        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
        Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse,
        quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo
        voluptas nulla pariatur?
      </p>

      <h4>Список</h4>

      <ul>
        <li>
          <div>
            <b>Титульный лист,</b> оформленный в соответствии с методичкой вуза.
          </div>
        </li>
        <li>
          <div>
            <b>Введение.</b> Указывается актуальность, цель, задачи будущего
            исследования, выносит характеристики объекта/предмета исследования.
          </div>
        </li>
        <li>
          <div>
            <b>Основная часть.</b> Описывается теоретическая/практическая
            информация, соответствующая направлению исследования, проводится
            анализ отобранных информационных источников и сути проблемы,
            разрабатывается методология для поиска оптимальных решений.
          </div>
        </li>
        <li>
          <div>
            <b>Заключение.</b> Автор подытоживает полученные результаты
            экспериментов, обосновывает их целесообразность применения в теории/
            практике исследуемой отрасли.
          </div>
        </li>
      </ul>

      <div class="seo__stars no-select">
        <img src="./img/decor/seo_stars.png" alt="" />
      </div>
    </div>
  </div>
</section>
