<!-- <div class="success is-visible"> -->
<div class="success modal" id="successCall">
  <div class="modal__container">
    <div class="modal__body">
      <div class="success__wrapp">
        <div class="success__info">
          <div class="success__icon"></div>
          <h3 class="success__title">Ваш запит успішно надіслано</h3>
          <div class="success__text">
            <p>
              Ми зв'яжемося з Вами найближчим часом: напишемо в Телеграм/Вайбер
              або зателефонуємо.
            </p>
          </div>
        </div>

        <button type="button" class="btn-def bp close-modal">Закрити</button>
      </div>
    </div>
  </div>
</div>
