<section class="work">
  <div class="container">
    <div class="work__body">
      <div class="work__content">
        <h2 class="title-first">Как мы работаем</h2>
        <ul class="work__list">
          <li class="work__item">
            <h4 class="work__step">Шаг 1</h4>
            <div class="work__box">
              <span><img src="./img/content/work_1.png" alt="" /></span>

              <div class="work__line no-select">
                <img src="./img/decor/work_line.svg" alt="" />
              </div>
            </div>
            <div class="work__info">
              <h4>Шаг 1</h4>
              <p>
                Вы связываетесь с нами через сайт, телеграм, почту или по
                телефону.
              </p>
            </div>
          </li>
          <li class="work__item">
            <h4 class="work__step">Шаг 2</h4>
            <div class="work__box">
              <span><img src="./img/content/work_2.png" alt="" /></span>

              <div class="work__line no-select">
                <img src="./img/decor/work_line.svg" alt="" />
              </div>
            </div>
            <div class="work__info">
              <h4>Шаг 2</h4>
              <p>
                Мы бесплатно рассчитаем стоимость, определим сроки выполнения.
              </p>
            </div>
          </li>
          <li class="work__item">
            <h4 class="work__step">Шаг 3</h4>
            <div class="work__box">
              <span><img src="./img/content/work_3.png" alt="" /></span>

              <div class="work__line no-select">
                <img src="./img/decor/work_line.svg" alt="" />
              </div>
            </div>
            <div class="work__info">
              <h4>Шаг 3</h4>
              <p>
                Вы вносите предоплату <span>50%</span>. Оплата происходит
                официально, на рассчётный счёт.
              </p>
            </div>
          </li>
          <li class="work__item">
            <h4 class="work__step">Шаг 4</h4>
            <div class="work__box">
              <span><img src="./img/content/work_4.png" alt="" /></span>

              <div class="work__line no-select">
                <img src="./img/decor/work_line.svg" alt="" />
              </div>
            </div>
            <div class="work__info">
              <h4>Шаг 4</h4>
              <p>Наш эксперт выполняет работу.</p>
            </div>
          </li>
          <li class="work__item">
            <h4 class="work__step">Шаг 5</h4>
            <div class="work__box">
              <span><img src="./img/content/work_5.png" alt="" /></span>

              <div class="work__line no-select">
                <img src="./img/decor/work_line.svg" alt="" />
              </div>
            </div>
            <div class="work__info">
              <h4>Шаг 5</h4>
              <p>Вы вносите оставшуюся сумму, получаете готовую работу.</p>
            </div>
          </li>
          <li class="work__item">
            <h4 class="work__step">Шаг 6</h4>
            <div class="work__box">
              <span><img src="./img/content/work_6.png" alt="" /></span>

              <div class="work__line no-select">
                <img src="./img/decor/work_line.svg" alt="" />
              </div>
            </div>
            <div class="work__info">
              <h4>Шаг 6</h4>
              <p>
                И защищаете проект на отлично! Если понадобятся правки, мы их
                сделаем.
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="work__vector no-select">
        <img src="./img/decor/work_vector.png" alt="" />
      </div>
    </div>
  </div>
</section>
