html,
body {
  font-family: var(--ff);
  color: var(--cm);
  font-size: 1rem;
  line-height: 1.5;
}

.overhide {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 82.5em;
  padding: 0 2.5em;
  margin: 0 auto;
}

@media screen and (max-width: 1320px) {
  html,
  body {
    font-size: 1.21vw;
  }
}

@media screen and (max-width: 960px) {
  html,
  body {
    font-size: 16px;
  }
  .container {
    padding: 0 1.25em;
  }
  .hideMob {
    overflow: hidden;
  }
}

@media screen and (max-width: 390px) {
  html,
  body {
    font-size: 4.1vw;
  }
}
