body {
  /* Colors */
  --cm: #1f1939;
  --ct: #3a3551;
  --cq: #514e5b;
  --co: #48435d;
  --cg: #8f8c9c;
  --ce: #d9d9d9;
  --cs: #d0d8e5;
  --cu: #f1f4f9;
  --cl: #efeff4;
  --cj: #e4dff9;
  --ck: #f1eefe;
  --cw: #fff;
  --ch: #6c4ef1;
  --cf: #7d2aeb;
  --cd: #7a24ec;
  --cn: #a592f8;
  --cp: #ec0fc1;
  --cr: #ffc6ff;
  --cb: #ffc3ff;
  --cy: #fdde49;
  --cx: #ffd300;
  --cc: #d9b73f;

  --rck: rgba(255, 255, 255, 0.1);
  --rcg: rgba(255, 255, 255, 0.2);
  --rcj: rgba(204, 203, 217, 0.2);
  --rcd: rgba(151, 85, 239, 0.1);
  --rcf: rgba(151, 85, 239, 0.15);
  --rco: rgba(255, 255, 255, 0.4);
  --rch: rgba(87, 46, 142, 0.21);
  --rcl: rgba(255, 255, 255, 0.12);

  /* Fonts */
  --ff: "Geologica", sans-serif;
}
