.contact {
  padding-top: 7.62rem;
  background-color: var(--ck);

  &__body {
    padding: 5.62rem 0 6.25rem 0;
  }

  &__subtitle {
    opacity: 0.5;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin-top: 3.13rem;
  }
  &__item {
    overflow: hidden;
    position: relative;
    padding: 2.5rem;
    border-radius: 1.5rem;
    background-color: var(--cx);
    display: flex;
    flex-direction: column;
    &:nth-child(2) {
      background-color: var(--cb);
      .contact__icon-wrapp {
        top: 3.125rem;
        right: 1.9212rem;
        width: 4.51075rem;
        transform: rotate(12.769deg);
      }
      .contact__vector {
        width: 30.875rem;
      }
    }
    &:last-child {
      background-color: var(--cf);
      .contact__icon-wrapp {
        top: 2.12rem;
        right: 1.87rem;
        width: 3.25rem;
        transform: rotate(0);
      }
      .title-second {
        color: var(--cw);
      }
      .contact__address {
        color: var(--cw);
        font-size: 1.125rem;
        line-height: 1.55;
        margin-bottom: 0.75rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .contact__desc {
        color: var(--cw);
      }
      .contact__vector {
        width: 17.375rem;
        left: auto;
        right: 0;
        transform: translateX(0) translateY(-50%);
      }
    }
  }
  &__box {
    position: relative;
    z-index: 3;
    flex-grow: 1;
  }
  &__address {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.66;
    margin-bottom: 0.25rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__desc {
    font-size: 0.875rem;
    line-height: 1.42;
    margin-bottom: 0.75rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon-wrapp {
    position: absolute;
    top: 2.1313rem;
    right: 2.085rem;
    z-index: 2;
    width: 4.40888rem;
    transform: rotate(17.814deg);
  }
  &__vector {
    position: absolute;
    z-index: 1;
    width: 28.125rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__soc {
    margin-top: 6.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      border-radius: 2.5rem;
      width: 20rem;
      height: 3.75rem;
      font-weight: 600;
      transition: all 0.15s ease-in;

      &::before {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        background-size: 2.5rem 2.5rem;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &.teleg {
        background-color: var(--cw);
        color: #3ab0e5;
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='40' viewBox='0 0 41 40' fill='none'%3E%3Cg clip-path='url(%23clip0_0_4636)'%3E%3Crect x='0.124023' width='40' height='40' fill='%2327A6E5'/%3E%3Cpath d='M28.124 12.6022L25.1186 28.2923C25.1186 28.2923 24.6981 29.3801 23.5429 28.8584L16.6086 23.3526L16.5764 23.3364C17.5131 22.4654 24.7764 15.7027 25.0939 15.3961C25.5853 14.9214 25.2802 14.6387 24.7096 14.9974L13.9808 22.053L9.84166 20.6108C9.84166 20.6108 9.19028 20.3708 9.12762 19.8491C9.06413 19.3265 9.8631 19.0439 9.8631 19.0439L26.7372 12.1889C26.7372 12.1889 28.124 11.5579 28.124 12.6022Z' fill='%23FEFEFE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_4636'%3E%3Crect x='0.124023' width='40' height='40' rx='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
      &.viber {
        background-color: var(--cf);
        color: var(--cw);
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='40' viewBox='0 0 41 40' fill='none'%3E%3Cg clip-path='url(%23clip0_0_4641)'%3E%3Crect x='0.624023' width='40' height='40' fill='white'/%3E%3Cpath d='M26.878 9.54591C23.0664 8.81803 19.1083 8.81803 15.2968 9.54591C13.6109 9.90986 11.4853 11.9479 11.1188 13.5493C10.4591 16.6792 10.4591 19.8819 11.1188 23.0118C11.5586 24.6131 13.6842 26.6512 15.2968 27.0152C15.3701 27.0152 15.4434 27.0879 15.4434 27.1607V31.7464C15.4434 31.9648 15.7366 32.1103 15.8832 31.892L18.0821 29.6355C18.0821 29.6355 19.8413 27.8158 20.1345 27.5247C20.1345 27.5247 20.2078 27.4519 20.2811 27.4519C22.48 27.5247 24.7523 27.3063 26.9513 26.9424C28.6371 26.5784 30.7628 24.5403 31.1293 22.939C31.7889 19.8091 31.7889 16.6064 31.1293 13.4765C30.6895 11.9479 28.5638 9.90986 26.878 9.54591ZM26.9513 23.2302C26.5848 23.958 26.145 24.5403 25.412 24.9043C25.1921 24.9771 24.9722 25.0499 24.7523 25.1227C24.4591 25.0499 24.2392 24.9771 24.0193 24.9043C21.6738 23.958 19.4748 22.6478 17.7156 20.7553C16.7628 19.6635 15.9565 18.4261 15.2968 17.1159C15.0036 16.4608 14.7104 15.8785 14.4905 15.2234C14.2706 14.6411 14.6371 14.0588 15.0036 13.6221C15.3701 13.1853 15.8099 12.8942 16.323 12.6758C16.6895 12.4575 17.056 12.603 17.3492 12.8942C17.9355 13.6221 18.5219 14.35 18.9617 15.1506C19.2549 15.6601 19.1816 16.2425 18.6685 16.6064C18.5219 16.6792 18.4486 16.752 18.302 16.8976C18.2287 16.9703 18.0821 17.0431 18.0088 17.1887C17.8622 17.4071 17.8622 17.6254 17.9355 17.8438C18.5219 19.5179 19.6214 20.8281 21.3073 21.556C21.6005 21.7016 21.8204 21.7744 22.1869 21.7744C22.6999 21.7016 22.9198 21.1193 23.2863 20.8281C23.6528 20.537 24.0926 20.537 24.5324 20.7553C24.8989 20.9737 25.2654 21.2649 25.7052 21.556C26.0717 21.8472 26.4382 22.0655 26.8046 22.3567C27.0245 22.5023 27.0978 22.8662 26.9513 23.2302ZM23.8727 17.771C23.7261 17.771 23.7994 17.771 23.8727 17.771C23.5795 17.771 23.5062 17.6254 23.4329 17.4071C23.4329 17.2615 23.4329 17.0431 23.3596 16.8976C23.2863 16.6064 23.1397 16.3152 22.8465 16.0969C22.6999 16.0241 22.5533 15.9513 22.4067 15.8785C22.1868 15.8057 22.0403 15.8057 21.8204 15.8057C21.6005 15.7329 21.5272 15.5874 21.5272 15.369C21.5272 15.2234 21.7471 15.0778 21.8937 15.0778C23.0664 15.1506 23.946 15.8057 24.0926 17.1887C24.0926 17.2615 24.0926 17.4071 24.0926 17.4799C24.0926 17.6254 24.0193 17.771 23.8727 17.771ZM23.1397 14.5683C22.7732 14.4227 22.4067 14.2772 21.967 14.2044C21.8204 14.2044 21.6005 14.1316 21.4539 14.1316C21.234 14.1316 21.0874 13.986 21.1607 13.7676C21.1607 13.5493 21.3073 13.4037 21.5272 13.4765C22.2601 13.5493 22.9198 13.6949 23.5795 13.986C24.8989 14.6411 25.6319 15.7329 25.8518 17.1887C25.8518 17.2615 25.8518 17.3343 25.8518 17.4071C25.8518 17.5526 25.8518 17.6982 25.8518 17.9166C25.8518 17.9894 25.8518 18.0622 25.8518 18.135C25.7785 18.4261 25.2654 18.4989 25.1921 18.135C25.1921 18.0622 25.1188 17.9166 25.1188 17.8438C25.1188 17.1887 24.9722 16.5336 24.679 15.9513C24.2392 15.2962 23.7261 14.8595 23.1397 14.5683ZM27.0978 18.9356C26.8779 18.9356 26.7314 18.7173 26.7314 18.4989C26.7314 18.0622 26.6581 17.6254 26.5848 17.1887C26.2916 14.8595 24.3858 12.967 22.1136 12.603C21.7471 12.5302 21.3806 12.5302 21.0874 12.4575C20.8675 12.4575 20.5743 12.4575 20.501 12.1663C20.4277 11.9479 20.6476 11.7296 20.8675 11.7296C20.9408 11.7296 21.0141 11.7296 21.0141 11.7296C21.1607 11.7296 24.0193 11.8024 21.0141 11.7296C24.0926 11.8024 26.6581 13.8404 27.1711 16.8976C27.2444 17.4071 27.3177 17.9166 27.3177 18.4989C27.4643 18.7173 27.3177 18.9356 27.0978 18.9356Z' fill='%237D2AEB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_4641'%3E%3Crect x='0.624023' width='40' height='40' rx='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
      &:hover {
        background-color: var(--cp);
        color: var(--cw);
      }
    }
  }

  .title-first {
    text-align: center;
    margin-bottom: 0.75rem;
  }
  .title-second {
    margin-bottom: 0.75rem;
  }
  .btn-def {
    position: relative;
    z-index: 2;
    color: var(--cf);
    padding: 0.88rem 0;
    width: 100%;
    background-color: var(--cw);
    margin-top: 2.25rem;
    &:hover,
    &:focus {
      background-color: var(--cp);
      color: var(--cw);
    }
  }
}

@media screen and (max-width: 960px) {
  .contact {
    padding-top: 4.0625rem;

    &__body {
      padding: 5.06rem 0 3.75rem 0;
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, minmax(20rem, 1fr));
      margin-top: 2.5rem;
    }
    &__item {
      padding: 2rem;
      &:nth-child(2) {
        .contact__icon-wrapp {
          width: 3.84575rem;
          right: 0.81rem;
        }
      }
      &:last-child {
        .contact__icon-wrapp {
          right: 2rem;
        }
      }
    }
    &__icon-wrapp {
      right: 1.14rem;
    }

    &__soc {
      margin-top: 4rem;
      flex-direction: column;
      li {
        width: 100%;
        max-width: 25rem;
      }
      a {
        width: 100%;
        max-width: 25rem;
      }
    }

    .title-first {
      font-size: 2rem;
      line-height: 1.25;
    }
    .title-second {
      font-size: 2.5rem;
      line-height: 1.3;
    }
  }
}
