.header__nav {
  .popup-nav {
    position: absolute;
    z-index: 10;
    top: calc(100% + 0.75rem);
    left: 0;
    width: 100%;
    background-color: var(--cw);
    border-radius: 0.9375rem;
    padding: 1.75rem 2.5rem 1.3rem 2.5rem;

    &__body {
      display: flex;
      justify-content: space-between;
    }
    &__heading {
      display: none;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      width: 100%;
      padding: 0.6rem 1.88rem;
      border-right: 0.0625rem solid var(--ce);
      &:first-child {
        padding-left: 0;
        padding-right: 1.88rem;
      }
      &:last-child {
        padding-left: 1.88rem;
        padding-right: 0;
        border-right: none;
      }
      a {
        display: flex;
        align-items: start;
        justify-content: space-between;
        transition: all 150ms ease-in;
        position: relative;
        &::before {
          content: "";
          left: -0.75rem;
          right: -0.75rem;
          top: -0.5rem;
          bottom: -0.5rem;
          position: absolute;
          background-color: transparent;
          transition: 0.3s;
          border-radius: 0.25rem;
        }
        &:hover {
          &::before {
            background-color: rgba(125, 42, 235, 0.18);
          }
        }
      }
    }
    &__name,
    &__price {
      color: var(--cm);
      line-height: 1.5;
      letter-spacing: -0.02em;
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__name {
      width: 13.225rem;
      transition: all 150ms ease-in;
    }
    &__price {
      text-align: start;
      width: 6.5rem;
      font-weight: 700;
      span {
        font-weight: 400;
        color: var(--cg);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .mob__nav {
    .popup-nav {
      position: absolute;
      z-index: 20;
      top: 5.13rem;
      transform: translateX(-100%);
      left: 0;
      width: 100%;
      background-color: var(--cf);
      display: flex;
      flex-direction: column;
      align-items: center;

      transition: all 300ms ease-in;
      visibility: hidden;
      opacity: 0;
      &.is-active {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
      }

      &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 1.25rem;
      }
      &__heading {
        text-align: center;
        color: var(--cw);
        font-size: 1.5rem;
        line-height: 1.33;
        margin-bottom: 1.46rem;
        transition: all 150ms ease-in;
        &:hover {
          color: var(--cx);
        }
      }
      &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        li {
          border-bottom: 0.0625rem solid var(--rco);
        }
        a {
          padding: 0.6rem 1.25rem;
          display: flex;
          align-items: start;
          justify-content: space-between;
          transition: all 150ms ease-in;
          &:hover {
            .popup-nav__name {
              color: var(--cx);
            }
          }
        }
      }
      &__name,
      &__price {
        color: var(--cw);
        line-height: 1.5;
        letter-spacing: -0.02em;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__name {
        width: 12.825rem;
        transition: all 150ms ease-in;
      }
      &__price {
        text-align: start;
        width: 6.5rem;
        font-weight: 700;
        span {
          font-weight: 400;
          color: var(--cg);
        }
      }
    }
  }
}
