<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__body">
        <div class="footer__part">
          <h3 class="footer__title">Услуги и цены</h3>
          <ul class="footer__list">
            <li><a href="#">Заказать дипломную работу</a></li>
            <li><a href="#">Заказать курсовую работу</a></li>
            <li><a href="#">Заказать отчёт по практике</a></li>
            <li><a href="#">Заказать контрольную работу</a></li>
            <li><a href="#">Заказать реферат</a></li>
          </ul>
        </div>

        <div class="footer__part">
          <h3 class="footer__title">Наш адрес</h3>
          <a
            href="https://maps.app.goo.gl/NHNXqNj21eMPW5cEA"
            class="footer__address-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            г. Харьков, ул. Ярослава Мудрого 37 (бывшая ул. Петровского 37), 2-й
            этаж, офис 1
          </a>
        </div>

        <div class="footer__part">
          <h3 class="footer__title">Наши телефоны</h3>
          <address class="footer__address">
            <a href="tel:+380501111111">+38 050 111 11 11</a>
            <a href="tel:+380671111111">+38 067 111 11 11</a>
          </address>

          <h4 class="footer__sub-title">Месенджеры для связи</h4>
          <ul class="footer__soc">
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/vib.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/teleg.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p>© 2009 – 2024 Образовательный центр «Студент»</p>
    </div>
  </div>
</footer>
