<section class="advantag">
  <div class="container">
    <div class="advantag__body">
      <h3 class="title-second">
        Почему студенты выбирают написание дипломной работы у нас
      </h3>

      <ul class="advantag__list">
        <li class="design_1">
          <h2 class="advantag__headline">№1</h2>
          <span class="advantag__tagline">по количеству обращений </span>
          <div class="advantag__text">
            <p>среди студентов Украины</p>
          </div>
        </li>
        <li class="design_2">
          <h2 class="advantag__headline">Онлайн</h2>
          <span class="advantag__tagline">прием заказов</span>
          <div class="advantag__text">
            <p>и в офисе в Харькове</p>
          </div>
        </li>
        <li class="design_3">
          <h2 class="advantag__headline">78%</h2>
          <span class="advantag__tagline">студентов</span>
          <div class="advantag__text">
            <p>обращаются повторно</p>
          </div>
        </li>
        <li class="design_4">
          <h2 class="advantag__headline">46</h2>
          <span class="advantag__tagline">опытных специалистов</span>
          <div class="advantag__text">
            <p>и преподавателей по многим дисциплинам</p>
          </div>
        </li>
        <li class="design_5">
          <h2 class="advantag__headline">15+</h2>
          <span class="advantag__tagline">лет</span>
          <div class="advantag__text">
            <p>помогаем студентам с написанием работ</p>
          </div>
        </li>
        <li class="design_6">
          <h2 class="advantag__headline">24/7</h2>
          <span class="advantag__tagline">круглосуточная поддержка</span>
          <div class="advantag__text">
            <p>в мессенджерах и электронной почте. По телефону с 9 до 20</p>
          </div>
        </li>
      </ul>

      <button type="button" class="btn-def">Заказать</button>
    </div>
  </div>
</section>
