<section class="executor">
  <div class="container">
    <div class="executor__body">
      <h3 class="title-second">
        Не нужно тратить время на поиск подходящего исполнителя —
        <span>мы уже выбрали его для Вас!</span>
      </h3>

      <div class="executor__content">
        <ul class="executor__list">
          <li>Только 2 из 10 кандидатов проходят отбор</li>
          <li>
            Вашим проектом будет заниматься преподаватель соответствующей
            дисциплины
          </li>
          <li>
            При выполнении будут учитываться все стандарты и требования ВУЗов.
          </li>
          <li>
            Специалист оценивается по балльно- рейтинговой системе: средняя
            оценка, сдача в срок, отсутствие доработок
          </li>
        </ul>

        <div class="executor__wrapp">
          <ul class="executor__cards">
            <li>
              <div><img src="./img/content/executor_1.png" alt="" /></div>
            </li>
            <li>
              <div><img src="./img/content/executor_2.png" alt="" /></div>
            </li>
            <li></li>
          </ul>

          <div class="executor__hand">
            <img src="./img/decor/executor_hand.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
