<section class="generalinf">
  <div class="generalinf__container">
    <div class="container">
      <div class="generalinf__wrapp">
        <div class="generalinf__body">
          <div class="generalinf__content">
            <h2 class="title-second">
              Дипломные на заказ в 2024 году: цена, срок выполнения и гарантии
            </h2>
            <div class="generalinf__text">
              <p>
                <span>Дипломная работа цена</span> для среднего уровня
                уникальности во всех высших учебных заведениях  объемом 90–100
                страниц находится в диапазоне от 5000 до 7000 гривен, а для
                50–60 страниц от 4000 до 6000 гривен. Для училища, ПТУ или лицея
                дипломная работа объемом 30–40 страниц стоит от 2000 гривен.
              </p>
              <p>
                Гарантируем соответствие всем стандартам и сопровождение до
                успешной защиты. Наш подход основан исключительно на
                библиотечных материалах, без использования ChatGPT.
              </p>
            </div>
            <button type="button" class="btn-def">Заказать</button>
          </div>

          <ul class="generalinf__cards">
            <li class="generalinf__card" style="background-color: #f1eefe"></li>
            <li class="generalinf__card" style="background-color: #ffc6ff"></li>
            <li class="generalinf__card" style="background-color: #7d2aeb">
              <ul>
                <li>
                  <p title="Цена">Цена</p>
                  <span title="от 4000 грн">от 4000 грн</span>
                </li>
                <li>
                  <p title="Доработки">Доработки</p>
                  <span title="бесплатно">бесплатно</span>
                </li>
                <li>
                  <p title="Сроки">Сроки</p>
                  <span title="от 14 дней">от 14 дней</span>
                </li>
                <li>
                  <p title="Автор">Автор</p>
                  <span title="преподаватель ВУЗа">преподаватель ВУЗа</span>
                </li>
                <li>
                  <p title="Оригинальность">Оригинальность</p>
                  <span title="высокая">высокая</span>
                </li>
                <li>
                  <p title="Гарантия качества">Гарантия качества</p>
                  <span title="100%">100%</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="generalinf__hand">
          <img src="./img/decor/generalinf_1.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="generalinf__hand generalinf__elemob">
    <img src="./img/decor/generalinf_1.png" alt="" />
  </div>
</section>
