<section class="guarantgive">
  <div class="container">
    <div class="guarantgive__body">
      <h2 class="title-first">Какие гарантии мы даём?</h2>

      <ul class="guarantgive__list">
        <li class="guarantgive__item" style="background-color: #f2f5f9">
          <div class="guarantgive__content">
            <h4>Лучшая цена</h4>
            <div class="guarantgive__text">
              <p>
                Гарантируем лучшую цену! <span>Нашли дешевле?</span> Обращайтесь
                к нам, мы вернеём разницу!
              </p>
            </div>
          </div>

          <div class="guarantgive__bg1 no-select">
            <img src="./img/decor/guarant_bg1.png" alt="" />
          </div>

          <div class="guarantgive__money1 no-select">
            <img src="./img/decor/guarant_money1.png" alt="" />
          </div>
          <div class="guarantgive__money2 no-select">
            <img src="./img/decor/guarant_money2.png" alt="" />
          </div>

          <div class="guarantgive__filter1"></div>
          <div class="guarantgive__filter2"></div>
        </li>
        <li
          class="guarantgive__item"
          style="background-color: rgba(125, 42, 235, 0.34)"
        >
          <div class="guarantgive__content">
            <h4>Официально</h4>
            <div class="guarantgive__text">
              <p>
                Мы работаем с 2008 года в сфере написания студенческих работ.
                Официально оформлены (ФОП)
              </p>
            </div>
          </div>

          <div class="guarantgive__dec1 no-select">
            <img src="./img/decor/guarant_dec1.png" alt="" />
          </div>
          <div class="guarantgive__em1 no-select">
            <img src="./img/decor/guarant_em1.png" alt="" />
          </div>
        </li>
        <li class="guarantgive__item" style="background-color: #ffc3ff">
          <div class="guarantgive__content">
            <h4>Качественно</h4>
            <div class="guarantgive__text">
              <p>
                Вашу работу выполнит квалифицированный преподаватель ВУЗа с
                опытом работы.
              </p>
            </div>
          </div>

          <div class="guarantgive__dec5 no-select">
            <img src="./img/decor/guarant_dec5.png" alt="" />
          </div>
          <div class="guarantgive__dec2 no-select">
            <img src="./img/decor/guarant_dec2.png" alt="" />
          </div>
        </li>
        <li class="guarantgive__item" style="background-color: #ffec84">
          <div class="guarantgive__content">
            <h4>Точно в срок</h4>
            <div class="guarantgive__text">
              <p>
                Ставим реалистичные сроки выполнения. Не нарушаем их. Доработки
                бесплатно.
              </p>
            </div>
          </div>

          <div class="guarantgive__dec3 no-select">
            <img src="./img/decor/guarant_dec3.png" alt="" />
          </div>
        </li>
        <li class="guarantgive__item" style="background-color: #f1f4f9">
          <div class="guarantgive__content">
            <h4>Поддержка 24/7</h4>
            <div class="guarantgive__text">
              <p>
                Мы доступны круглосуточно в мессенджерах (вайбер, телеграм) и в
                рабочее время по телефону.
              </p>
            </div>
          </div>

          <div class="guarantgive__dec4 no-select">
            <img src="./img/decor/guarant_dec4.png" alt="" />
          </div>
          <div class="guarantgive__dec6 no-select">
            <img src="./img/decor/guarant_dec6.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
