<section class="internal">
  <div class="container">
    <div class="internal__body">
      <div class="breadcrumbs">
        <ul>
          <li><span>Главная</span></li>
          <li><span>Дипломные на заказ</span></li>
          <li><span>в Кропивницком</span></li>
        </ul>
      </div>

      <div class="internal__content">
        <h2 class="title-first twc">Дипломные на заказ в Кропивницком</h2>

        <ul class="internal__list">
          <li>
            <div class="internal__icon">
              <img src="./img/decor/internal_price.png" alt="" />
            </div>
            <div class="internal__info">
              <p class="internal__price">
                от 4000 грн. <span>от 5900 грн.</span>
              </p>
              <p class="internal__desc">стоимость</p>
            </div>
          </li>
          <li>
            <div class="internal__icon">
              <img src="./img/decor/internal_clock.png" alt="" />
            </div>
            <div class="internal__info">
              <p class="internal__price">от 14 дней</p>
              <p class="internal__desc">срок</p>
            </div>
          </li>
        </ul>

        <p class="internal__text">
          Берёмся за любые темы дипломных работ, оформляем по всем стандартам и
          сопровождаем до защиты. Авторы — преподаватели из Харькова, Киева и
          других городов Украины
        </p>
      </div>

      <div class="internal__girl no-select">
        <img src="./img/content/internal_girl.png" alt="" />
      </div>

      <div class="internal__stars no-select">
        <img src="./img/decor/internal_stars.png" alt="" />
      </div>

      <div class="internal__vector no-select">
        <img src="./img/decor/internal_vector.png" alt="" />
      </div>

      <div class="internal__filter"></div>
    </div>
  </div>

  <div class="internal__filter-mob"></div>
</section>
