<section class="price">
  <div class="container">
    <div class="price__body">
      <div class="price__content">
        <h2 class="title-second title-span twc">
          Цена дипломной работы <span>от 4000 грн</span>
        </h2>
        <h5 class="price__tagline">
          Стоимость дипломной работы зависит от темы и сроков выполнения диплома
          на заказ.
        </h5>
        <div class="price__text">
          <p>
            Нащи преподаватели выполняют дипломные работы по более чем 100
            дисциплинам и направлениям.
          </p>
        </div>
        <button type="button" class="btn-def">Заказать</button>
      </div>

      <div class="price__vector no-select">
        <img src="./img/decor/price_vector.png" alt="" />
      </div>
      <div class="price__hand no-select">
        <img src="./img/decor/price_hand.png" alt="" />
      </div>
      <div class="price__clouds no-select">
        <img src="./img/decor/price_clouds.png" alt="" />
      </div>
    </div>
  </div>
</section>
