<nav class="nav">
  <ul class="nav__list">
    <li class="nav__popup-item">
      <a href="#" class="nav__popup-link">
        <p>Услуги</p>
        <span><img src="./img/icons/vector-down.svg" alt="" /></span>
      </a>

      <div class="nav__popup">
        <load src="partials/header/parts/popup-nav.html" />
      </div>
    </li>
    <li><a href="#">Отзывы</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>

  <a href="#" class="nav__btn">Скорая помощь</a>

  <form class="nav__form">
    <div class="nav__form-box">
      <label>
        <input type="text" placeholder="Введите тему работы" />
      </label>
      <label>
        <input type="text" placeholder="Номер телефона" />
      </label>
    </div>
    <button type="submit">Узнать цену</button>
  </form>

  <address class="nav__address">
    <a href="tel:+380501111111" class="nav__tel">
      <span><img src="./img/icons/phone.svg" alt="" /></span>
      <p>+38050 111 11 11</p>
    </a>
    <button type="button" class="nav__tel-lead">перезвоните мне</button>
  </address>
</nav>
