<nav class="nav">
  <ul class="nav__list">
    <li class="nav__popup-item">
      <a href="#" class="nav__popup-link">
        <p>Услуги</p>
        <span><img src="./img/icons/vector-down.svg" alt="" /></span>
      </a>

      <div class="nav__popup">
        <load src="partials/header/parts/popup-nav.html" />
      </div>
    </li>
    <li><a href="./feedback.html" class="nav__link">Отзывы</a></li>
    <li><a href="./contact.html" class="nav__link">Контакты</a></li>
  </ul>

  <form class="nav__form">
    <div class="nav__form-box">
      <label class="nav__form-topic">
        <input type="text" placeholder="Введите тему работы" />
      </label>
      <label class="nav__form-phone">
        <input type="text" placeholder="Номер телефона" />
      </label>
    </div>
    <button type="submit">Узнать цену</button>
  </form>

  <a href="#" class="nav__btn">Скорая помощь</a>

  <address class="nav__address">
    <a href="tel:+380501111111" class="nav__tel">
      <span><img src="./img/icons/phone.svg" alt="" /></span>
      <p>+38050 111 11 11</p>
    </a>
    <button type="button" class="nav__tel-lead">перезвоните мне</button>
  </address>

  <ul class="nav__soc">
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <img src="./img/icons/vib.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank" rel="noopener noreferrer">
        <img src="./img/icons/teleg.svg" alt="" />
      </a>
    </li>
  </ul>

  <a href="#" class="nav__btn-mob">Скорая помощь</a>
</nav>
