<div class="popup-nav">
  <button type="button" class="popup-nav__heading">Услуги</button>
  <div class="popup-nav__body">
    <ul class="popup-nav__list">
      <li>
        <a href="#">
          <p class="popup-nav__name">Курсовая работа</p>
          <p class="popup-nav__price"><span>от</span> 500 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Дипломная работа</p>
          <p class="popup-nav__price"><span>от</span> 4000 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Магистерская работа</p>
          <p class="popup-nav__price"><span>от</span> 5000 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Контрольная работа</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Реферат</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Отчет по практике</p>
          <p class="popup-nav__price"><span>от</span> 400 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Чертежи</p>
          <p class="popup-nav__price"><span>от</span> 150 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Практическая работа</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Решение задач</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">
            Научно-исследовательская<br />
            работа
          </p>
          <p class="popup-nav__price"><span>от</span> 500 грн.</p>
        </a>
      </li>
    </ul>

    <ul class="popup-nav__list">
      <li>
        <a href="#">
          <p class="popup-nav__name">Домашнее задание</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Рассчетная работа</p>
          <p class="popup-nav__price"><span>от</span> 400 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Бизнес-план</p>
          <p class="popup-nav__price"><span>от</span> 600 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Лабораторная работа</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Научная статья</p>
          <p class="popup-nav__price"><span>от</span> 600 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Перевод (английский)</p>
          <p class="popup-nav__price"><span>от</span> 150 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Мотивационное письмо</p>
          <p class="popup-nav__price"><span>от</span> 200 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Статья для ВАК</p>
          <p class="popup-nav__price"><span>от</span> 700 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Презентация</p>
          <p class="popup-nav__price"><span>от</span> 400 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">
            Бакалаврская дипломная<br />
            работа
          </p>
          <p class="popup-nav__price"><span>от</span> 4000 грн.</p>
        </a>
      </li>
    </ul>

    <ul class="popup-nav__list">
      <li>
        <a href="#">
          <p class="popup-nav__name">Доклад</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Задачи</p>
          <p class="popup-nav__price"><span>от</span> 150 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Ответы на вопросы, тесты</p>
          <p class="popup-nav__price"><span>от</span> 200 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Творческая работа</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Тезисы доклада</p>
          <p class="popup-nav__price"><span>от</span> 200 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Эссе</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Рецензия</p>
          <p class="popup-nav__price"><span>от</span> 200 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Сочинение</p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">Маркетинговое исслед.</p>
          <p class="popup-nav__price"><span>от</span> 500 грн.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p class="popup-nav__name">
            Высшая математика<br />
            (задачи по математике)
          </p>
          <p class="popup-nav__price"><span>от</span> 300 грн.</p>
        </a>
      </li>
    </ul>
  </div>
</div>
