.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: all 150ms ease-in;

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem 0;
  }
  &__nav {
  }
  &__soc {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-left: 2rem;
    a {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.burger-menu {
  display: none;
}
.custom-logo-link {
  display: block;
  width: 13.125rem;
  margin-right: auto;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.custom-logo-link {
  .logo-scroll {
    display: none;
  }
}

.scroll-down {
  position: fixed;
  background-color: var(--cx);

  .custom-logo-link {
    .logo-def {
      display: none;
    }
    .logo-scroll {
      display: block;
    }
  }
}
