.consult {
  overflow: hidden;
  background-color: var(--cf);

  &__body {
    position: relative;
    padding: 3.87rem 0 5.69rem 0;
  }

  &__wrapp {
    position: relative;
    z-index: 4;
    width: 30rem;
    border-radius: 2rem;
    background-color: var(--cw);
    padding: 2.5rem;
    margin-left: 35.5rem;
  }
  &__subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 1.25rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1.25rem;
  }
  &__label {
    input {
      width: 100%;
      border-radius: 1rem;
      background-color: var(--cu);
      padding: 1.12rem 1rem;
      border: 0.125rem solid transparent;
      color: var(--cm);
      font-size: 1rem;
      line-height: 1.5;
      transition: all 0.15s ease-in;
      &::placeholder {
        color: rgba(31, 25, 57, 0.5);
        font-size: 1rem;
        line-height: 1.5;
      }
      &:focus,
      &:hover {
        border-color: var(--cf);
      }
    }
  }
  &__btn {
    width: 100%;
  }

  &__filter {
    position: absolute;
    z-index: 1;
    bottom: -33.25rem;
    left: -0.56rem;
    border-radius: 77.5625rem;
    opacity: 0.5;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #ffd306 0%,
      rgba(255, 211, 6, 0) 100%
    );
    filter: blur(40px);
    width: 53.0625rem;
    height: 77.5625rem;
  }
  &__vector {
    position: absolute;
    z-index: 2;
    top: -10.5rem;
    left: -22.5rem;
    width: 122.625rem;
  }
  &__star {
    position: absolute;
    z-index: 3;
    top: 3.88rem;
    right: 3.81rem;
    width: 5rem;
  }
  &__girl {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 2.62rem;
    width: 29.75rem;
  }

  .title-first {
    margin-bottom: 4rem;
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .consult {
    &__body {
      padding: 3.75rem 0 3.62rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__wrapp {
      width: 100%;
      max-width: 40rem;
      padding: 2rem 1.5rem;
      margin-left: 0;
    }

    &__filter {
      position: absolute;
      bottom: -36.69rem;
      left: 50%;
      transform: translateX(-50%);
    }
    &__vector {
      top: 5rem;
      width: 82.5625rem;
      left: 50%;
      transform: translateX(-50%);
    }
    &__star,
    &__girl {
      display: none;
    }

    .title-first {
      font-size: 2rem;
      line-height: 1.25;
      margin-bottom: 2.5rem;
    }
  }
}
