.discuss {
  background-color: var(--cf);
  background-image: url("/img/decor/discuss_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__body {
    padding: 3.75rem 0 3.0756rem 0;
  }
  &__content {
  }
  &__form-mob {
  }
  &__input {
  }
  &__btn {
  }
  &__wrapp {
  }
  &__img-wrapp {
  }
  &__vector {
  }
  &__info {
  }
  &__mess {
  }
  &__line {
  }
  &__form {
  }
}

.title-second {
}
.btn-def {
}

@media screen and (max-width: 960px) {
}
