<section class="guarantee">
  <div class="container">
    <div class="guarantee__body">
      <h2 class="title-first">Гарантии</h2>

      <div class="guarantee__splide splide">
        <div class="splide__track">
          <ul class="guarantee__list splide__list">
            <li class="splide__slide">
              <div class="guarantee__box">
                <div class="guarantee__img-wrapp no-select">
                  <img src="./img/content/guarantee_1.png" alt="" />
                </div>

                <div class="guarantee__icon-wrapp no-select">
                  <span><img src="./img/icons/guarantee_1.svg" alt="" /></span>
                </div>
              </div>
              <div class="guarantee__info">
                <h4>Соблюдение сроков</h4>
                <p>
                  Мы понимаем, как важно получить работу точно в срок. Наши
                  специалисты выполняют работу вовремя, в этом вы можете быть
                  уверены.
                </p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="guarantee__box">
                <div class="guarantee__img-wrapp no-select">
                  <img src="./img/content/guarantee_2.png" alt="" />
                </div>

                <div class="guarantee__icon-wrapp no-select">
                  <span><img src="./img/icons/guarantee_2.svg" alt="" /></span>
                </div>
              </div>
              <div class="guarantee__info">
                <h4>Доработка бесплатно</h4>
                <p>
                  В пределах начальных требований (не оставим Вас один на один с
                  непринятой работой, если преподаватель что-то пожелает
                  изменить).
                </p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="guarantee__box">
                <div class="guarantee__img-wrapp no-select">
                  <img src="./img/content/guarantee_3.png" alt="" />
                </div>

                <div class="guarantee__icon-wrapp no-select">
                  <span><img src="./img/icons/guarantee_3.svg" alt="" /></span>
                </div>
              </div>
              <div class="guarantee__info">
                <h4>Контроль качества</h4>
                <p>
                  Специалист с научной степенью проверяет все работы на
                  соответствие Вашим требованиям.
                </p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="guarantee__box">
                <div class="guarantee__img-wrapp no-select">
                  <img src="./img/content/guarantee_4.png" alt="" />
                </div>

                <div class="guarantee__icon-wrapp no-select">
                  <span><img src="./img/icons/guarantee_4.svg" alt="" /></span>
                </div>
              </div>
              <div class="guarantee__info">
                <h4>Не используем Chat GPT</h4>
                <p>
                  Каждую работу пишет специалист с использованием библиотечных
                  материалов, без использования искусственного интеллекта.
                </p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="guarantee__box">
                <div class="guarantee__img-wrapp no-select">
                  <img src="./img/content/guarantee_5.png" alt="" />
                </div>

                <div class="guarantee__icon-wrapp no-select">
                  <span><img src="./img/icons/guarantee_5.svg" alt="" /></span>
                </div>
              </div>
              <div class="guarantee__info">
                <h4>Конфиденциальность</h4>
                <p>
                  Гарантируем абсолютную анонимность заказчика. Ваши личные
                  данные ни при каких обстоятельствах не будут переданы третьим
                  лицам.
                </p>
              </div>
            </li>
            <li class="splide__slide">
              <div class="guarantee__box">
                <div class="guarantee__img-wrapp no-select">
                  <img src="./img/content/guarantee_6.png" alt="" />
                </div>

                <div class="guarantee__icon-wrapp no-select">
                  <span><img src="./img/icons/guarantee_6.svg" alt="" /></span>
                </div>
              </div>
              <div class="guarantee__info">
                <h4>Поддержка 24/7</h4>
                <p>
                  Мы доступны по телефону в рабочие часы и в мессенджерах
                  круглосуточно, 7 дней в неделю (Телеграм, Вайбер).
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
