<section class="hero">
  <div class="container">
    <div class="hero__body">
      <div class="hero__content">
        <h2 class="title-first title-span twc">
          Написание студенческих работ от
          <span>сервиса №1</span><br />
          в Украине
        </h2>
        <p class="hero__text">
          Курсовые, контрольные, дипломные и магистерские работы, отчеты по
          практике, чертежи и рассчетные работы, научные статьи и еще более 30
          видов учебных работ на заказ.
        </p>
        <div class="hero__box">
          <ul class="hero__list no-select">
            <li><img src="./img/content/hero_1.jpg" alt="" /></li>
            <li><img src="./img/content/hero_2.jpg" alt="" /></li>
            <li><img src="./img/content/hero_3.jpg" alt="" /></li>
          </ul>
          <div class="hero__info">
            <span>46</span>
            <p>проверенных авторов работ сотрудничают с нами</p>
          </div>
        </div>
      </div>

      <div class="hero__girl no-select">
        <img src="./img/content/hero_girl.png" alt="" />
      </div>

      <div class="hero__vector no-select">
        <img src="./img/decor/hero_vector.png" alt="" />
      </div>

      <div class="hero__filter"></div>
    </div>
  </div>

  <div class="hero__filter-mob"></div>
</section>
