<section class="info">
  <div class="container">
    <div class="info__body">
      <ul class="info__list">
        <li class="info__item1">
          <div class="info__part1">
            <div class="info__content">
              <p class="info__sub-title">Нам можно доверять!</p>
              <h2>15 лет(!) успешной помощи студентам</h2>
              <p class="info__text">
                За это время мы помогли десяткам тысяч студентов практически
                всех крупных ВУЗов Украины.
              </p>
            </div>

            <div class="info__smile no-select">
              <img src="./img/content/info_smile.png" alt="" />
            </div>
          </div>

          <div class="info__man no-select">
            <img src="./img/content/info_man.png" alt="" />
          </div>
        </li>
        <li class="info__item2">
          <div class="info__part2">
            <div class="info__content">
              <h2 class="title-first twc">12 000</h2>
              <p>Выполненных студенческих работ</p>
            </div>

            <div class="info__img-list no-select">
              <img src="./img/content/info_list.png" alt="" />
            </div>
          </div>
          <div class="info__part3">
            <div class="info__content">
              <h2 class="title-first twc">Без Chat GPT</h2>
              <p>
                При написании работ опираемся только на библиотечные материалы
              </p>
            </div>

            <div class="info__bot no-select">
              <img src="./img/content/info_bot.png" alt="" />
            </div>
            <div class="info__blocked no-select">
              <img src="./img/content/info_blocked.png" alt="" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
