<section class="rule">
  <div class="container">
    <div class="rule__body">
      <h2 class="title-first title-span">В наших <span>правилах</span></h2>

      <ul class="rule__list">
        <li class="rule__item">
          <div class="rule__box">
            <span class="no-select">
              <img src="./img/content/rule_1.png" alt="" />
            </span>
            <p>требования вуза</p>
          </div>
          <p class="rule__text">Соблюдение всех требований ВУЗов</p>
        </li>
        <li class="rule__item">
          <div class="rule__box">
            <span class="no-select">
              <img src="./img/content/rule_2.png" alt="" />
            </span>
          </div>
          <p class="rule__text">Сдача заказанной работы вовремя</p>
        </li>
        <li class="rule__item">
          <div class="rule__box">
            <span class="no-select">
              <img src="./img/content/rule_3.png" alt="" />
            </span>
          </div>
          <p class="rule__text">Безопасная оплата и приватность</p>
        </li>
        <li class="rule__item">
          <div class="rule__box">
            <div class="rule__text-wrapp">
              <p>чем я могу вам помочь?</p>
              <span class="no-select">
                <img src="./img/icons/rule_like.png" alt="" />
              </span>
            </div>

            <div class="rule__img-wrapp no-select">
              <img src="./img/content/rule_girl.png" alt="" />
            </div>
          </div>
          <p class="rule__text">Поддержка и гарантия до защиты</p>
        </li>
      </ul>
    </div>
  </div>
</section>
