<section class="services">
  <div class="container">
    <div class="services__body">
      <fieldset>
        <legend class="services__legend">
          <h2>Услуги и цены</h2>
          <p>Мы делаем <span>30 типов</span> студенческих работ</p>
        </legend>

        <ul class="services__list">
          <li>
            <div class="services__info">
              <h3>Курсовая работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">500 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Дипломная работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">4000 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Магистерская работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">5000 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Контрольная работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Реферат</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Отчет по практике</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">400 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Чертежи</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">150 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Практическая работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Решение задач</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Научная статья</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">600 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Домашнее задание</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Рассчетная работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">400 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Бакалаврская дипломная работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">4000 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Научно-исследовательская работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">500 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Высшая математика (задачи по математике)</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Перевод (английский)</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">150 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Мотивационное письмо</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">200 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Статья для ВАК</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">700 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Презентация</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">400 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Бизнес-план</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">600 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Доклад</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Задачи</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">150 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Лабораторная работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Ответы на вопросы, тесты</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">200 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Творческая работа</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Тезисы доклада</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">200 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Эссе</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Рецензия</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">200 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Сочинение</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <h3>Маркетинговое исслед.</h3>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">500 грн.</span>
              </p>
            </div>
          </li>
        </ul>
      </fieldset>
    </div>
  </div>
</section>
