<section class="services">
  <div class="container">
    <div class="services__body">
      <fieldset>
        <legend class="services__legend">
          <h2>Услуги и цены</h2>
          <p>Мы делаем <span>30 типов</span> студенческих работ</p>
        </legend>

        <ul class="services__list">
          <li>
            <div class="services__info">
              <a href="#">Курсовая работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">500 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Дипломная работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">4000 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Магистерская работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">5000 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Контрольная работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Реферат</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Отчет по практике</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">400 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Чертежи</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">150 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Практическая работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Решение задач</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Научная статья</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">600 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Домашнее задание</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Рассчетная работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">400 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Бакалаврская дипломная работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">4000 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Научно-исследовательская работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">500 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Высшая математика (задачи по математике)</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Перевод (английский)</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">150 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Мотивационное письмо</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">200 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Статья для ВАК</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">700 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Презентация</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">400 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Бизнес-план</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">600 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Доклад</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Задачи</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">150 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Лабораторная работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Ответы на вопросы, тесты</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">200 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Творческая работа</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Тезисы доклада</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">200 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Эссе</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Рецензия</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">200 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Сочинение</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">300 грн.</span>
              </p>
            </div>
          </li>
          <li>
            <div class="services__info">
              <a href="#">Маркетинговое исслед.</a>
              <p>
                <span class="from-mob">Цена — </span>от
                <span class="price-bold">500 грн.</span>
              </p>
            </div>
          </li>
        </ul>
      </fieldset>
    </div>
  </div>
</section>
