<section class="contact">
  <div class="container">
    <div class="contact__body">
      <h2 class="title-first">Мы работаем по всей Украине</h2>
      <p class="contact__subtitle">Контактная информация</p>

      <ul class="contact__list">
        <li class="contact__item">
          <div class="contact__box">
            <h3 class="title-second">Почта</h3>
            <p class="contact__address">znanie.in.ua@gmail.com</p>
          </div>

          <a href="mailto:znanie.in.ua@gmail.com" class="btn-def">Написать</a>

          <div class="contact__icon-wrapp">
            <img src="./img/decor/contact_1.png" alt="" />
          </div>
          <div class="contact__vector">
            <img src="./img/decor/contact_vector1.png" alt="" />
          </div>
        </li>

        <li class="contact__item">
          <div class="contact__box">
            <h3 class="title-second">Телефоны</h3>
            <p class="contact__address">+38 050-168-31-11</p>
            <p class="contact__address">+38 067-254-62-37</p>
          </div>

          <a href="tel:+380501683111" class="btn-def">Позвонить</a>

          <div class="contact__icon-wrapp">
            <img src="./img/decor/contact_2.png" alt="" />
          </div>
          <div class="contact__vector">
            <img src="./img/decor/contact_vector2.png" alt="" />
          </div>
        </li>

        <li class="contact__item">
          <div class="contact__box">
            <h3 class="title-second">Почта</h3>
            <p class="contact__address">
              г. Харьков, ул. Ярослава Мудрого 37 (бывшая ул. Петровского 37),
              2-й этаж, офис 1 (метро Пушкинская)
            </p>
            <p class="contact__desc">Вывеска - "Курсовые на Петровского"</p>
            <p class="contact__desc">
              Пн - Пт: с 10:00 до 18:00<br />
              Сб: c 10:00 до 16:00
            </p>
          </div>

          <a
            href="https://maps.app.goo.gl/NHNXqNj21eMPW5cEA"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def"
          >
            Показать карту
          </a>

          <div class="contact__icon-wrapp">
            <img src="./img/decor/contact_3.png" alt="" />
          </div>
          <div class="contact__vector">
            <img src="./img/decor/contact_vector3.png" alt="" />
          </div>
        </li>
      </ul>

      <ul class="contact__soc">
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer" class="teleg">
            Telegram
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer" class="viber">
            Viber
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
