<section class="feedback">
  <div class="container">
    <div class="feedback__body">
      <div class="feedback__info">
        <h2 class="title-first">Отзывы</h2>
        <p class="feedback__desc">
          <span>Образовательный центр “Студент №1”</span> это сервис
          онлайн-помощи студентам. На этой странице мы собрали свежие отзывы
          наших заказчиков.
        </p>

        <div class="feedback__rating">
          <div class="feedback__icon no-select">
            <img src="./img/decor/reviews_star.png" alt="" />
          </div>
          <span>4.8</span>
          <p>
            Основанно на<br />
            2340 отзывах
          </p>
        </div>

        <div class="feedback__line no-select">
          <img src="./img/decor/feedback_line.png" alt="" />
        </div>
      </div>

      <div class="feedback__wrapp no-select">
        <div class="feedback__em1">
          <span><img src="./img/decor/feedback_em1.png" alt="" /></span>
        </div>
        <div class="feedback__em2">
          <span><img src="./img/decor/feedback_em2.png" alt="" /></span>
        </div>
        <div class="feedback__em3">
          <span><img src="./img/decor/feedback_em3.png" alt="" /></span>
        </div>
      </div>

      <div class="feedback__rating feedback__elemob">
        <div class="feedback__icon no-select">
          <img src="./img/decor/reviews_star.png" alt="" />
        </div>
        <span>4.8</span>
        <p>
          Основанно на<br />
          2340 отзывах
        </p>
      </div>
    </div>
  </div>
</section>
